<html>
    <head><h1>Contact Us !</h1></head>
    <title>contact</title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <body class="container">
        <% include partial/navigation.ejs %>
        <h2>Thanks for Getting in touch !</h2>
        <p>You have contacted <b> <%=data.Name%> </b>who is a working as a <b><%=data.job%> by profession.</b></p>
        <p>We will mail you at your mail Id:  <b><%=data.email%></b></p>
    </body>
</html>